@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  .img-zone img {
    margin: 30px;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation: animate 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  @keyframes animate {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background-size: 100% 100%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      background-size: 100% 200%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      background-size: 100% 100%;
    }
  }
  .text-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #eeeded;
    font-size: 56px;
    line-height: 53px;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #b5b5b5;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #b5b5b5;
      font-size: 18px;
      position: absolute;
      margin-left: -340px;
      margin-top: 50px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      position: relative;
      width: 62px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #007ced;
    align-items: flex-start;
    margin-top: 0px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .btn {
    display: flex;
    gap: 2rem;
    margin-bottom: 40px;

    .flat-button {
      background: none;
      color: #b5b5b5;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #b5b5b5;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background: #007ced;
        color: #ffff;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page {
    display: flex;
    flex-direction: column;
  }
  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }
  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
  }

  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
  .img-zone img {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
}
